body {
  background: rgb(72,161,111);
  background: linear-gradient(0deg, rgba(72,161,111,1) 0%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-size: auto;
  }
    
  html:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -10;
  }
  
  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -5;
    background: linear-gradient(180deg, rgba(235, 235, 235, 0.473)) 0, #cbffe77e 100%);
  }